@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-semibold text-5xl;
}

h2 {
  @apply font-semibold text-4xl;
}

h3 {
  @apply font-semibold text-2xl;
}

.wrapper {
  ul {
    list-style-type: '- ';
  }
}

input, textarea, .button {
  @apply
    border-[2px]
    rounded-lg
    px-4
    py-2
    bg-white
    border-gray-300
    transition-all
  ;

  &:hover, &:active {
    @apply border-et-blue-light;
  }
}

/* Animations */

.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}