@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  @apply font-semibold text-5xl;
}

h2 {
  @apply font-semibold text-4xl;
}

.wrapper {
  ul {
    list-style-type: '- ';
  }
}

/* Animations */

.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}